<form class="jumbotron p-2 mt-2 shadow" (submit)="onSubmit()">
  <h5>Edit Task </h5>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" [(ngModel)]="currentTask.title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" name="description" rows="3" [(ngModel)]="currentTask.description"></textarea>
  </div>
  <button class="btn btn-outline-primary" type="submit">Submit</button>
</form>

