<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><i class="fas fa-tasks fa-2x"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    
    <a href="#" class="btn btn-outline-danger my-2 my-sm-0">Log Out</a>
    
  </div>
</nav>

<h1 class="jumbotron">{{ title }}</h1>

<div class="container">
  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <th scope="row">{{ task._id }}</th>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.completed }}</td>
      </tr>
    </tbody>
  </table> -->

  <div class="jumbotron py-2 mb-2 w-50 mx-auto bg-light shadow" *ngFor="let task of tasks">
    <div class="row">
      <div class="custom-control custom-checkbox col-1">
        <input type="checkbox" id="{{ task._id }}" [checked]="task.completed">
      </div>
      
      <div class="col-10">
        <h5>{{ task.title }}</h5>
        <small>{{ task.description }}</small>
      </div>
    </div>
  </div>
  <!-- ADD NEW TASK -->
  <div class="jumbotron p-2 mb-1 w-50 mx-auto bg-primary text-light shadow">
      <div class="row">
        <div class="custom-control custom-checkbox col-2 mt-4">
            <i class="fas fa-plus fa-3x ml-2"></i>
        </div>
        
        <div class="col-10">
          <input type="text" class="form-control" placeholder="Enter Title" name="title">
          <textarea type="text" class="form-control" placeholder="Enter Description" name="description" rows="2"></textarea>
          
        </div>
      </div>
    </div>
</div>
